/* 
    Created on : 2014-03-03, 14:59:23
    Author     : KOnrad KOwalewski
*/

html {
  background-color: whitesmoke;
  font-family: 'arial';
  font-size: 16px;
  padding-right: 450px;
}

div#board {
  display: block;
  height: 700px;
  margin: 0 auto;
  padding: 30px;
}

aside {
  display: block;
  width: 450px;
  height: 700px;
  float: right;
  margin-right: -450px;   //to razem z padding-right dla html pozwala wyśrodkować planszę bez dodatkowego kontenera.
}

div.usercard {
  float: left;
  width: 150px;
  padding: 5px 0;
}

div.usercard figure img {
  margin: 5px auto;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

div.usercard table
{
  table-layout: fixed;
  width: 100%;
}

div.usercard caption {
  font-size: larger;
}

div.usercard th, div.usercard td {
  padding: 3px;
}

div.usercard th {
  text-align: right;
}

div.usercard td {
  text-align: left;
  font-weight: bold;
}

nav div {
  display: block;
  width: 110px;
  height: 110px;
  float: left;
}

nav div a {
  display: block;
  position: relative;
  top: 20px;
  left: 20px;
  background-color: #dddddd;
  border-radius: 50px;
  width: 70px;
  -webkit-transition: 0.2s;
}

nav div a:hover {
  top: 10px;
  left: 10px;
  background-color: silver;
  border-radius: 60px;
  padding: 10px;
  -webkit-transition: 0.25s;
}

nav div a img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}