/* 
    Created on : 2014-03-03, 14:59:23
    Author     : KOnrad KOwalewski
*/

html {
  background-color: #eeeeee;
  font-family: 'arial';
  font-size: 16px;
}

div#board {
  outline: 2px dashed green;
  display: block;
  height: 700px;
}

aside {
  display: block;
  width: 450px;
  height: 700px;
  float: right;
  outline: solid red;
}

div.user_card {
  outline: 2px dashed red;
  float: left;
  width: 150px;
  padding: 5px 0;
}

div.user_card figure {
}

div.user_card figure img {
  margin: 5px auto;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

div.user_card figure ul {
  
}

nav div {
  display: block;
  width: 25%;
  height: 110px;
  float: left;
  outline: 1px dotted black;
}

nav div a {
  display: block;
  background-color: #dddddd;
  border-radius: 50px;
  margin: auto;
  width: 70%;
}

nav div a:hover {
  background-color: silver;
  border-radius: 60px;
  margin: 5px auto;
  padding: 10px;
  -webkit-transition: 0.2s;
}

nav div a img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}