ol.even {
  position: relative;
}
ol.odd {
  position: relative;
  left: -73px;
  margin: -5% 0;
}
.hex {
  cursor: pointer;
  position: relative;
  background-position: center;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  width: 137px; height: 156px;
  margin: 8px;
  display: inline-block;
}

.hex p{
  position: absolute;
  left: 44px;
  top: 54px;
  z-index: 1;
  /*
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #999999;
  */
  color: white;
  text-shadow: 0 1px 8px rgba(0,0,0,0.8);
  font-family: 'ubuntu', 'arial';
  font-size: 40px;
  font-weight: bold;
  line-height: 1em;
}
.hex:hover p {
  text-shadow: 0 1px 10px red;
  -webkit-transition: 0.3s;
}
.forest {
  background-image: url('../img/tile_forest.png');
}
.desert {
  background-image: url('../img/tile_desert.jpg');
}
.plain {
  background-image: url('../img/tile_field.jpg');
}
.mountain {
  background-image: url('../img/tile_mountain.jpg');
}
.clay {
  background-image: url('../img/tile_clay.jpg');
}
.wheat {
  background-image: url('../img/tile_wheat.jpg');
}
.ocean {
  background-image: url('../img/tile_ocean.jpg');
}
.hidden {
  visibility: hidden;
}
