div#whole{
  display: block;
}
div#board {
  display: block;
  height: 650px;
  width: 840px;
  position: relative;
}
  
@media all and (min-device-height: 800px) {
  #board {
    margin: 0px auto;
  }
}
@media all and (max-device-height: 800px) {
  #board {
    /*margin: -65px auto;*/
  }
}

/****************TILE*****************/

.hex {
  cursor: pointer;
  position: absolute;
  background-position: center;
  background-size: 124px;
  width: 108px; height: 62px;
  margin: 40px -6px -40px 6px;
  display: inline-block;
  border-radius: 4px;
}

.hex .face1, .hex .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  border-radius: 4px;
  /* Keeps borders smooth in webkit */
  -webkit-backface-visibility: hidden;
}

.hex .face1:before, .hex .face2:before {
  content: '';
  position: absolute;
  width: 108px;
  height: 124px;
  background: inherit;
}

.hex .face1 {
  -webkit-transform: rotate(60deg);
}

.hex .face1:before {
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-60deg) translate(-54px, 0);
}

.hex .face2 {
 -webkit-transform: rotate(-60deg);
}

.hex .face2:before {
  right: 0;
  -webkit-transform-origin: right top;
  -webkit-transform: rotate(60deg) translate(54px, 0);
}

.hex span{
  display: block;
  margin-top: 5px;
  text-align: center;
  z-index: 1;
  color: rgba(255,255,255,0.8);
  text-shadow: 0 0 4px rgba(0,0,0,0.4);
  -webkit-transition: 0.4s;
  font-family: 'ubuntu', 'arial';
  font-size: 52px;
  font-weight: bold;
  line-height: 1em;
}

.hex span:empty {
  visibility: hidden;
}

.hex:hover span {
  text-shadow: 0 0 50px black;
  color: white;
  -webkit-transition: 0.4s;
}

/******************************SETTLEMENT***********************/

.settle {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -15px;  /*half of settlement radius*/
  border-radius: 15px;
  z-index: 2;
}

.town {
  background-color: whitesmoke;
}
.hidden {
  visibility: hidden;
}

.settle.active {
  background: #e8e8e8;
  width: 28px;
  height: 28px;
  border: 1px solid #bbb;
  border-radius: 15px;
  display: none;
}
.settle.active:hover {
  background: #fff;
  border-color: #aaa;
  box-shadow: 0 0 10px #fff;
  cursor: pointer; 
}
.settle.blocked {
  display: none;
}

.settle.town {
  margin: -25px;  /*half of settlement radius*/
  width: 50px;
  height: 50px;
  border-radius: 25px;
  outline: 2px dotted;
}

/******************************ROAD***********************/

.road {
  display: block;
  width: 12px;
  height: 62px;
  background: gainsboro;
  position: absolute;
  margin-top: -66px;
  margin-left: -6px;
  border-radius: 4px;
  z-index: 1;
}

.x {
  -webkit-transform: rotate(240deg);
  margin-top: -14px;
  margin-left: -36px;
}

.y {
  -webkit-transform: rotate(120deg);
  margin-top: -14px;
  margin-left: 24px;
}

.road.active {
  background-color: #e8e8e8;
  width: 10px;
  height: 60px;
  border: 1px solid #bbb;
  display: none;
}
.road.active:hover {
  background-color: #fff;
  border-color: #aaa;
  box-shadow: 0 0 10px #fff;
  cursor: pointer; 
}

/******************************PORT***********************/

/*.port {
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 25px;
  border: 2px solid black;
  background-size: cover;
  background-position: center center;
}*/

.port {
  display: block;
  position: absolute;
  width: 50px;
  height: 62px;
  background-size: cover;
  background-position: center center;
}

.wood {
  background-image: url('../img/tiles/wood.svg');
}

.desert {
  background-image: url('../img/tiles/desert.svg');
}

.sheep {
  background-image: url('../img/tiles/sheep2.svg');
}

.stone {
  background-image: url('../img/tiles/stone.svg');
}

.clay {
  background-image: url('../img/tiles/clay.svg');
}

.wheat {
  background-image: url('../img/tiles/wheat.svg');
}

.ocean {
  background-image: url('../img/tile2_ocean.png');
  opacity: 0.6;
}

.default {
  background-image: url('../img/sony.jpg');
  color: white;
  content: 'Stasiu, tutaj jebnij jakieś tło fajne';
}

.dir0 {
  margin-top: 62px;
  margin-left: 18px;
  -webkit-transform: rotate(-60deg);
}
.dir1 {
  margin-top: 66px;
  margin-left: 46px;
  -webkit-transform: rotate(60deg);
}
.dir2 {
  margin-top: 38px;
  margin-left: 64px;
}
.dir3 {
  margin-top: 14px;
  margin-left: 50px;
  -webkit-transform: rotate(-60deg);

}
.dir4 {
  margin-top: 18px;
  margin-left: 22px;
  -webkit-transform: rotate(60deg);
}
.dir5 {
  margin-top: 38px;
  margin-left: 6px;
}