/* 
    Created on : 2014-03-06, 19:51:25
    Author     : Konrad Kowalewski <k.j.kowalewski@gmail.com>
*/

html {
  background-color: whitesmoke;
  font-family: 'ubuntu','arial', sans-serif;
  font-size: 16px;
  color: dimgrey;
}

.centered {
  width: 300px;
  display: block;
  margin: 20px auto;
}

.message {
  padding: 10px 0;
  text-align: center;
  color: white;
  background-color: orangered;
  border-radius: 10px;
}

.message:empty {
  display: none;
}

.colors {
  width: 860px;
}

.colors li {
  cursor: pointer;
  width: 120px;
  height: 120px;
  margin: 10px;
  display: inline-block;
  border-radius: 58px;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  opacity: 0.7;
  -webkit-transition: 0.5s;
}

.colors li img {
  margin: 10px auto;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
}

.colors li:hover, .colors li.busy {
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  opacity: 1;
  -webkit-transition: 0.5s;
}

#logo {
  width: 416px;
  margin: 70px auto;
  overflow-y: auto;
  outline: 1px solid transparent;
}

#logo:hover .flattop {
  -webkit-transform: rotate(360deg);
  -webkit-transition: 0.6s;
}

.flattop{
  float: left;
  margin-right: -22px;
  display: block;
  background-color: silver;
  -webkit-clip-path: polygon(0 53px, 30px 0, 90px 0, 120px 53px, 90px 106px, 30px 106px);
  width: 120px; height: 106px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 106px;
  -webkit-transition: 0.3s;
}
.flattop:nth-of-type(2n)
{
  margin-top: 56px;
}
.flattop:first-of-type {
  background-color: orangered;
  font-size: 20px;
}
.flattop:nth-of-type(2)
{
  background-color: silver;
  font-size: 32px;
}
.flattop:nth-of-type(3)
{
  background-color: steelblue;
}
.flattop:nth-of-type(4)
{
  background-color: greenyellow;
}
.flattop img {
  width: 106px;
}

input[type="text"], input[type="email"], input[type="password"] {
  border: 0 solid white;
  background-color: white;
  display: block;
  font-size: 14px;
  font-family: inherit;
  padding: 8px;
  margin: 20px auto;
  width: 220px;
  border-radius: 16px;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

nav a, div.ui-btn, input[type="submit"] {
  width: 300px;
  background: transparent;
  display: block;
  text-align: center;
  padding: 8px;
  margin: 10px auto;
  border-radius: 10px;
  color: inherit;
  font-size: larger;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  cursor: pointer;
}

nav p {
  font-size: smaller;
  text-align: center;
  padding: 4px;
  color: inherit;
}

nav a:hover, input[type="submit"]:hover {
  color: white;
  background-color: steelblue;
  -webkit-transition: 0.3s;
}